.nav-bar{
    background: #181818;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
  
    .logo {
      display: block;
      padding: 8px 0;
      height: 100%;
      
      img {
        display: block;
        margin: 8px auto;
        width: 30px;
       
  
        &.sub-logo {
          width: 50px;
        }
      }
    }
  
    nav {
     display:block;
     width: auto;
     height: auto;
     position:absolute;
     top: 50%;
     text-align: center;
     padding:0px 15px;
     margin-top: -120px;
     
    

        a{
        font-size: 22px;
        color:#4d4d4e;
        display:block;
        line-height:51px;
        height:51;
        position:relative;
    
    
        i{
        transition:all 0.3s ease-out;
        }
        &:hover{
            color:#ffd700;
            svg{
                opacity: 0;
            }
            &:after{
                opacity: 1;
            }
            
        }
        &:after{
            content:'';
            font-size:9px;
            letter-spacing:2px;
            position: absolute;
            bottom:0;
            display:block;
            width: 100%;
            text-align:center;
            opacity:0;
            -webkit-transition: all 0.3s ease-out;
            transition:all 0.3s ease-out;

        }
        &:first-child{
            &::after{
            content:'HOME' ;
            }
        }
    }
        a.about-link{
            &:after{
            content:'ABOUT' ;
            }
        }

        a.contact-link{
            &:after{
            content:'CONTACT' ;
            margin-left: -11px;
            }
        }

        a.portfolio-link{
            &:after{
                content:'PORTFOLIO';
            }
        }
        a.active{
            svg{
                color:#ffd700;
            }
        }    
}
ul {
    position:absolute;
    bottom:20px;
    text-align: center;
    list-style: none;
    padding:0;
    margin:0;
    width:100%;

    li{
    a{
        padding: 7px 0;
        display: block;
        font-size: 17px;
        line-height: 16px;
        color: #4d4d4e;
        
        &:hover svg{
            color:#ffd700;
        }
    }
    }
}



}

